@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

@media (max-width: 500px) {

    body {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        //background-color: red;
        font-family: "patrick hand";
    }
    
    main {
        width: auto;
        //background-color: green;
        height: 100%;
    }

    h3, h4 {
        margin: 0;
        padding: 0;
    }

    nav {
        width: auto;
        height: 40px;
        padding: 20px;
        margin-bottom: 15px;
        //background-color: yellow;
    }
    
    #menu {
        //background-color: rebeccapurple;
        height: 40px;
        width: 40px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #login {
        //background-color: mediumvioletred;
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content-menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: black;
        color: white;
        padding: 10px;
        z-index: 1;
        width: 100px;
        border-radius: 5px;
    }
    
    .dropdown-content-login {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        text-align: right;
        background-color: mediumvioletred;
        padding: 10px;
        z-index: 1;
        width: 120px;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    
    .dropdown:hover .dropdown-content-login, .dropdown:hover .dropdown-content-menu {
        display: block;
    }
    
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    li p {
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 40px;
    }
    
    header {
        background-image: url(MYtineraryLogo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
        //background-color: antiquewhite;
        width: 100%;
        height: 200px;
    }

    section:first-of-type {
        text-align: center;
        height: 50vh;
        //background-color: cadetblue;
        
        margin: auto;
        margin-top: 40px;
        width: 80%;
    }

    section:last-of-type {
        //background-color: aqua;
        text-align: center;
        height: 300px;
    }
    
    section:last-of-type h2 {
        font-size: 35px;
        color: #db2f00;
    }
    
    #galeria {
        width: 80%;
        margin: auto;
        margin-bottom: 180px;
        //background-color: aqua;
        height: 50%;
    }
    
    .columnaizq {
        float: left;
        width: 50%;
        //background-color: blue;
    }
    
    .columnader {
        float: right;
        width: 50%;
        //background-color: plum;
    }
    
    .ciudad {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin: 6px 3px;
        //background-color: greenyellow;
        overflow: hidden;
    }
    
}