/*

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

@media (max-width: 500px) {

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
        //background-color: red;
    }

    h4 {
        margin: 0;
        padding: 0;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }

    #main {
        width: 100%;
        //background-color: green;
        margin: auto;
        height: 100%;
    }
    
    nav {
        width: 100%;
        height: 80px;
        background-color: greenyellow;
    }

    header {
        background-image: url(MYtineraryLogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        //background-color: antiquewhite;
        height: 170px;
        margin-bottom: 50px;
    }

    section:first-of-type {
        text-align: center;
        height: 70vh;
        //background-color: cadetblue;
    }

    #browsing {
        font-family: "patrick hand";
        margin-top: 50px;
        //background-color: brown;
        padding: 15px;
    }

    section:last-of-type {
        font-family: "patrick hand";
        //background-color: aqua;
        text-align: center;
        height: 350px;
        margin-top: 0;
    }
    
}

*/